/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* UTILITY */

/* IE Background Scroll Fix */
html { 
	background: url(null) fixed no-repeat; 
}


/* Firefox Link Fix */
a:active, a:focus { 
	outline: 0; 
}

.hide {
	display: none;
}

/* TAGS */
body {
	min-width: 960px;
	font-family: Arial, Helvetica, sans-serif;
}

strong, b { 
	font-weight: 900;
}

em, i {
	font-style: italic;	
}

a:link { /* unvisited link */
	color: #003399
}     

a:visited { /* visited link */
	color: #666666
}  

a:hover { /* mouse over link */

}   

a:active { /* selected link */
	color: #003399
}

/* IMAGES */
#header, #header h1, #page-container hr.top, #footer, #footer h4,	#header ul.navigation li, #header ul.navigation li a,
table.grid thead tr:first-child th, table.grid thead th a, table.output thead tr:first-child th, table.output thead th ul.tab li a,
table.output thead th ul.tab li a span, #page table thead tr th.asc span.sort, #page table thead tr th.desc span.sort {
	background-image: url('../images/tarantula-sprites.png');
	background-repeat: no-repeat;
}

#header {
	background-position: 100% -80px;
	background-repeat: repeat-x;
	
}

#header h1 {
	position: absolute;
	display: block;
	height: 81px;
	width: 473px;
}

#header ul.navigation li {
	height: 50px;				
	background-position: 0 -162px;
	background-repeat: repeat-x;
	width: 147px;
}

#header ul.navigation li a {
	background-position: 100% -162px;
	height: 50px;
	width: 150px;
}

#header ul.navigation li a:hover {
	background-position: 100% -164px;
}

#page-container hr.top {
	background-position: 100% -211px;
	background-repeat: repeat-x;
	height: 13px;
}

#footer {
	background-position: 100% -330px;
	background-repeat: repeat-x;
	height: 55px;
}

#footer > h4 {
	background-position: 4px -390px;
	display: block;
	height: 65px;
	width: 165px;
}

/* LAYOUT */
html {
	background-color: #dac7ad;
	color: #000;
}

body {
	padding-top: .65em;	
}

#header {
	background-color: #000;
	color: #000;
	border-top: 10px solid #000;
	height: 81px;
	border-bottom: 1px solid #dac7ad;
	position: inherit;
}

#header hr.top {
	background-color: #dac7ad;
	border: 0;
	color: #dac7ad;
	height: 1px;
	margin: 0;
	padding: 0;	
}

#header > h1 {
	display: -moz-inline-box;
	display: inline-block;
}

#header ul.navigation {
	display: inline;
	left: 510px;
	list-style: none;
	position: relative;	
	top: 28px;				
	width: auto;		
}
		
#header ul.navigation li {
	display: -moz-inline-box;		
	display: inline-block;		
	font-size: 100%;
	margin: 0;
	text-align:left;
}

#header ul.navigation li a {
	display: block;
	margin-left: 1px;	
	font-family: Arial, Helvetica, sans-serif;	
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 0;
	padding-left: 5px;
}
	
#header ul.navigation li a:hover {
	border-top: 2px solid;
	padding-top: 3px; 
}
	
#header ul.navigation li a.result-all {
	border-color: #003399;
}
	
#header ul.navigation li a.result-failure {
	border-color: #990000;
}
	
#header ul.navigation li a.result-success {
	border-color: #339900;
}
	
#header ul.navigation li span {
	display: block;
	color: #a8876e;
	font-size: .70em;
	font-weight: 900;
}
	
#header ul.navigation li em {
	color: #727779;
	display: block;	
  font-size: .70em;
	font-style: normal;
}

h1 > span {
	display: block;
	margin-left: -9999em;
	width: 475px;
	clear: left;
}

#page-container {
	border-top: 10px solid #000;
}

#page-container hr.top {
	border: 0;
	margin: 0;
	padding: 0;
}

#page {
	float: left;
	margin: 1.5em;
	padding-bottom: 40px;
	width: 75%;
}

p, ul li, #sidebar p, #sidebar ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 82%;
	margin: .45em;
	text-align: justify;
}

ul {
	margin-left: 2%;
	
}

ul li {
	list-style: square;
	margin: .15em 1.5%;
}

h2, h3, h4, h5
{
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 4px;
	margin: .25em;
}

#page h2 {
	color: #1f1512;
	border-bottom: 2px solid #cab8a0;
}

#page h3 {
	font-size: 90%;
	color: #48322c;
}

#page h4 {
	font-size: 85%;
	color: #82574f;
	border-bottom: 1px solid #cab8a0;
}

#sidebar {
	width: 19%;
	float: right;	
	margin-top: 1.5em;
	margin-right: 1%;
}

#sidebar p {
	font-size: 76%;
	margin: .40em;
	padding: .2em;
	text-align: justify;
}

#sidebar h3 {
	font-family: Arial;
	color: #3f110f;
	margin: .25em;
	padding-bottom: 4px;
	font-size: 90%;
	border-bottom: 2px solid #342320;
}

#sidebar h4 {
	color: #613737;
	font-size: 85%;
}

#footer {
	background-color: #000;	
	border-top: 1px solid #fff5da;
	bottom: 0;	
	color: #fff;
	position: fixed;
	text-align: right;
	width: 100%;
}

#footer > h4 {

	float: right;
	clear: left;
}

#footer h4 > span {
	display: block;
	margin-right: -999em;
}

/* TABLES */

table {
	width: 99%;
}

table th.desc span.sort,
table th.asc span.sort {
  margin: 0 !important;
	
	display: -moz-inline-block !important;	
	width: 18px !important;
	height: 12px  !important;	
	position: relative;
	padding: 0 !important;
	float: right;
}

table span.sort em {
	margin-left: -9999px;
}

table th.asc span.sort{
	background-position: 4px -304px;
	background-repeat: repeat-x;	
}

table th.desc span.sort {
	background-position: 4px -316px;	
	background-repeat: repeat-x;

}
	
#page table {
	margin: .45em 0 0 0 !important;
}

#page table th, #page table td {
	font-family: Arial, Helvetica, sans-serif;				  
	font-size: .75em;
	color: #66463e;			
}	

#page table.grid {
	border-collapse: separate;				
	padding: 1px;
	margin-bottom: 1em;
	width: 100%;
}

#page table.grid tbody td {				
	border-color: #d6bda7;				
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	font-family: "Andale Mono","Monaco","Lucida Console", "Bitstream Vera Sans Mono", Courier, monospace;
	font-size: .80em;		
	color: #1a1a1a;
}

#page table.grid tbody td:first-child {
	border-left-width: 1px;
}

#page table.grid tbody tr:last-child td {
	border-bottom-width: 1px;
}

#page table.grid thead tr:first-child th:first-child, #page table.grid tfoot tr td, #page table.grid thead th:first-child a  {
	background-color: #d3bda4;
	background-image: none;
	border: none;
	color: #66463e;
}

#page table.grid tfoot tr td {
	padding: 4px;
	font-weight: 900;
}
			
#page table.grid thead tr:first-child th {
	background-position: 0 -223px;
	background-repeat: repeat-x;
	padding-left: 1px;					
} 


#page table.grid thead th a {
	display: -moz-inline-block;
	display: inline-block;
	border-top: 1px solid #84574e;
	background-image: none;
	text-decoration: none;
			height: 25px;
	color: #dac7ad;	
		width: 100%;		
		font-size: 95%;					
}

#page table.grid thead th span.sort {
	
	height: 19px;
	vertical-align: middle;
	margin-right: 12px;
	padding: 6px 18px 0px 18px;
	/* padding: 6px; */
}
	
#page table.grid tbody a {					
	color: #003399;				
}

#page table.grid tbody td {
	padding: 2px 4px;
	background-color: #dacab4;				
}

#page table.grid tbody tr.alt td {
	background-color: #dfccb2
}
					
#page table.output {
	width: 100%;
}

#page table.output thead tr:first-child th {
	height: 20px;
	background-position: 100% -250px;
	background-repeat: repeat-x;
}

#page table.output thead th {
	background-color: #d3bda4;				
}

#page table.output thead tr th>span {
	height: 17px;
	padding: 4px;
	display: block;
}

#page table.output thead tr th ul.tab {
	display: block;
	list-style: none;
	position: relative;
	margin-left: 0;	
}

#page table.output thead th ul.tab li {
	display: -moz-inline-box;
	display: inline-block;
	text-align: left;				
	width: 160px;
	font-size: 100%  !important;
	margin: 0 !important;
	padding: 0  !important;
	text-align: left  !important;
	
	
}

#page table.output thead th ul.tab li a {
	background-position: 0 -250px;
	background-repeat: repeat-x;
	display: -moz-inline-box;
	display: inline-block;
	width: 160px;
	height: 25px;
	color: #dac7ad;
	text-decoration: none;
}

#page table.output thead th ul.tab li a span {
	margin-left: 1px;
	background-position: 100% -250px;
	background-repeat: repeat-x;
	display: -moz-inline-box;
	display: inline-block;
	width: 162px;
	padding: 4px 6px;
	
	height: 17px;
}

#page table.output thead th ul.tab li.active a span {
	background-position: 100% -277px;
	background-repeat: repeat-x;
	display: -moz-inline-box;
	display: inline-block;
}

#page table.output tbody tr td:first-child {
	background-color: #dfccb2;
	
	border-right-width: 1px;
	border-left-width: 1px;
}

#page table.output tbody tr td {
	background-color: #dacab4;
	
	border-style: solid;
	border-color: #d6bda7;
	border-bottom-width: 1px;
	border-right-width: 1px;
	
	font-family: "Andale Mono","Monaco","Lucida Console", "Bitstream Vera Sans Mono", Courier, monospace;
	font-size: .80em;
	
	padding: 4px;
	
	color: #1a1a1a;
}

#page table.output tfoot tr td {
	font-weight: 900;
	padding: 4px;
}

table tr .left {
	text-align: left;
}

table tr .right {
		text-align: right;
}

table tr td.center {
	text-align: center;
}

/* Response Codes */

span.r1, span.r2, span.r3, span.r4, 
span.r5 {
	display: block;				
	padding: .15em;
	margin: .15em;
	color: #dac7ad;
}

/* Informational 1xx */
span.r1 {				
	background-color: #3333cc;
	border: 1px solid #376edc;
}

/* Successfull 2xx */
span.r2 {
	background-color: #006600;
	border: 1px solid #008900;
}

/* Redirection 3xx */
span.r3 {
	background-color: #555652;
	border: 1px solid #80817b;
}
	
/* Client 4xx */
span.r4 {
	background-color: #857400;
	border: 1px solid #baa200;
}
/* Server Error 5xx */
span.r5 {
	background-color: #c40000;
	border: 1px solid #dc0000;
}

/* Fixes */

/* Safari Bold Fix */			
/*\*/
html*table th {
	font-weight: normal;				
}/**/

/*\*/			
html*#header ul.navigation {
	top: 30px;
}	/**/
