<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Author" content="Erik Yowell; erik[at]thinkrelevance.com"/>
    <title>Tarantula report</title>
    <script type="text/javascript" src="javascripts/jquery-1.2.3.js"></script>
    <script type="text/javascript" src="javascripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui-tabs.js"></script>
    <script type="text/javascript" src="javascripts/tarantula.js"></script>
    <link type="text/css" media="screen" rel="stylesheet" href="stylesheets/tarantula.css"/>
    <link type="text/css" media="screen" rel="stylesheet" href="stylesheets/ui.tabs.css"/>
  </head>

  <body id="top">

    <div id="container">

      <div id="header">
        <hr class="top"/>
        <h1><span>Tarantula : Eight Legs, Two Fangs, and an Attitude</span></h1>
        <ul class="navigation">
          <li><a href="#" class="result-all"><span>All</span> <em><%= successes.size + failures.size %></em></a></li>
          <li><a href="#" class="result-failure"><span>Failures</span> <em><%= failures.size %></em></a></li>
          <li><a href="#" class="result-success"><span>Successful</span> <em><%= successes.size %></em></a></li>
        </ul>
      </div>
    </div>
    <div id="page-container">
      <hr class="top"/>
      <div id="page">
        <p>Generated on <%= Time.now %></p>
        <div id="tabs-container">
          <ul>
          </ul>
        </div>
      </div>
      <div id="sidebar">
        <h3><span>Tarantula</span></h3>
        <p>Tarantula is an open-source tool for testing Rails web applications. Tarantula is developed by <a href="http://thinkrelevance.com">Relevance, Inc.</a> and lives at <a href="http://opensource.thinkrelevance.com">http://opensource.thinkrelevance.com</a>.</p>
      </div>
    </div>
  </body>

</html>
