/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET APPEND */

body {
	font-size: 100.1%;
}

/* LAYOUT */
body {
	background: #acad9d url(images/background.jpg) no-repeat top left;

}

#footer {		

	background: #22211d url(images/relevance-os-logo.gif) no-repeat 98% .85em;
	height: 4em;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 2px solid #e5e6dc;
}

#page {
	padding: 1.75em;
	margin-bottom: 4em;
	width: 70%;
	float: left;
}

#sidebar {
	width: 20%;
	margin-top: 4em;
	padding: 1em;
	border-left: 1px dotted #999;
	
	float: left;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif ;
	margin: .25em;
	padding: 0;
}

h1 {
	font-size: 160%;
	color: #29322d;		
}

h2 {
	font-size: 140%;
	color: #0f70ac;
}

h3 {
	font-size: 120%;
	color: #ff5a00;
}

h4, h5, h6 {
	margin-left: -.5%;		
	
}

h5 {
	font-size: 90%;
}

h6 {
	font-size: 80%;
}

p, td, th, caption, form, textarea, input {
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 87.2%;
	padding: .25em;
	margin: 0;
	color: #29322d;		
}

a:link {
	color:  #0f70ac
}   

a:visited {
	color: #29322d
}  

a:hover {
	text-decoration: none; 
	color: #0066ff;
}   

a:active {
	color:  #0f70ac
}   

hr {
	border: none 0; 
		border-top: 1px solid #758771;
		border-bottom: 1px solid #29322d;
		width: 80%;
		height: 2px;
	
		text-align: center;
}



table {
	width: 100%;
	border-spacing: 0;
	border-left: 1px solid #29322d;
	/*
	border-left: 1px solid #29322d;
	border-right: 1px solid #29322d;
	border-bottom: 1px solid #29322d;
	*/
}

table thead th {
	color: #acad9d ;
	background: #29322d;
	border: none;
	border-bottom: 1px solid #202a25;
	text-align: left;
	font-size: 85%;
}


/* sortable */

table thead th.header {
	cursor: pointer !important;
	background:  #29322d url(images/table-sort.gif) no-repeat 97% 2px;
}

table thead th.headerSortDown {
	background-position: 97% -58px;
}

table thead th.headerSortUp {
		background-position: 97% -118px;
}

table tfoot td {
	
	border-bottom: 1px solid #29322d;
	border-right: 1px solid #29322d;
	background: #758771;
	font-weight: 900;
	font-size: 80%;
	
}

tbody td, tbody tr.normal td {
	background: #d7d7c7;
	padding: 2px 3px 3px 4px
}

table tbody td {
 /* border: none; */
	border-right: 1px solid #29322d;
	border-bottom: 1px solid #29322d;
}

table body tr td {
	border: none;
}

tbody tr.odd td {
	background: #cacabb;
}

tbody td.center {
	text-align: center;
}

caption {
	padding-top: 1em;
	text-align: left;
	font-weight: 900;
	color: #000;
	font-size: 85%;
}


/* FORMS */
form legend {
	font-size: 120%;
	font-weight: 900;
}

form {
	margin: .5em;
}

form fieldset ul li {
	list-style: none;
}

form fieldset ul.messages {
	margin: 1.5% 2.5%;
	font-weight: 900;
}

form fieldset ul li {
	margin: 0.5%;
}

form fieldset ul.messages > .error {
	color: #cc3333;
}

form fieldset ul.messages > .warning {
	color: #333300;
}

form fieldset ul.messages > .notice {
	color: #0f70ac;
}

input.small {
	width: 8em;
}

input[type="text"], input.medium {
	width: 12em;
}

input.large {
	width: 14em;
}

input.xxlarge {
	width: 18em;
}

textarea {
	width: 20em;
	height: 8em;
}

form label {
	padding-top: .5em;
	font-size: 87.5%;
	display: block;
	font-weight: 900;
}

input, textarea {
	border: 1px solid #29322d;
	background-color:#d7d7c7;
}

input[type="submit"] {
	margin: .75em;
	background-color: #758771;
	font-weight: 900;
}

/* UTILITY */
.column:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.column {display: inline-block;}

/* Hides from IE-mac \*/
* html .column {height: 1%;}
.column {display: block;}
/* End hide from IE-mac */

